@import 'tailwindcss';

@theme {
  --font-sans: 'Prompt', system-ui, 'Segoe UI', Roboto, sans-serif;

  --color-primary: #81fe88;
  --color-graphite: #171d1f;
  --color-dark: #00090e;
  --color-petrol: #132e35;
  --color-gray-medium: #888888;
  --color-offwhite: #e1e1e1;
}

body {
  background-color: var(--color-dark);
  font-family: var(--font-sans);
}
